.ui.card.post_element{position: relative;width:100%;box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 4px 0 rgba(0,0,0,.35);-moz-box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 4px 0 rgba(0,0,0,.35);-webkit-box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 4px 0 rgba(0,0,0,.35);}
.ui.card.post_element img.avatar{width:55px;height:55px;}
.ui.card.post_element .profile_pic{display:inline-block;position: relative;}
.ui.card.post_element .profile_pic .ui.label{left:auto;right:-8px;top:-8px;}
.ui.card.post_element .post_author{font-size:14px;display:inline-block;left:10px;top:12px;position: relative;}
.ui.card.post_element .post_author a{font-weight:bold;}
.ui.card.post_element .post_author .timeago{display:block;font-size:12px;color:#999;}
.ui.card.post_element .content.post_body{padding:10px;padding-left:15px;font-size:14px;}
.ui.card.post_element .content.post_body .report_actions{padding:5px 0;}
.ui.card.post_element .content.post_body .report_actions button{margin:0;}
.ui.card.post_element .content.post_body a{font-size:14px;}
.ui.card.post_element .content .score_ctrl{width:55px;height:46px;position: relative;}
.ui.card.post_element .content .score_ctrl .count{position: absolute;left:0px;width:30px;line-height:46px;height:46px;text-align:right;font-size:14px;}
.ui.card.post_element .content .score_ctrl .ctrl{position: absolute;right:0;width:25px;height:30px;margin:0;}
.ui.card.post_element .content .score_ctrl .ctrl.up{top:0;}
.ui.card.post_element .content .score_ctrl .ctrl.down{bottom:0;}
.ui.card.post_element .content .score_ctrl .ctrl i{font-size:28px;cursor:pointer;}
.ui.card.post_element .session_container{width:auto;margin:15px;margin-top:0;padding:10px 20px;position:relative;}
.ui.card.post_element .session_container .session_header{display:block; margin-bottom:5px;}
.ui.card.post_element .session_container .session_header .spot_text{display:inline-block; vertical-align: top;}
.ui.card.post_element .session_container .session_header .spot_text .name{font-size:14px;}
.ui.card.post_element .session_container .session_header .spot_text .city{font-size: 12px; color:#999;}
.ui.card.post_element .session_container .session_header .duration{display:inline-block; margin:0 20px;vertical-align: bottom;float:right;}
.ui.card.post_element .session_container .pic{display:inline-block;width: 150px; height:150px; vertical-align: bottom;float:right;position:absolute;bottom: 10px; right:20px;}
.ui.card.post_element .session_container .pic .map{}
.ui.card.post_element .session_container .attendance{display:inline-block; height:100%;}
.ui.card.post_element .session_container .attendance img.avatar{display:inline-block; height:20px; width:20px; margin:5px; margin-left:0px;}
.ui.card.post_element .session_container .attendance .now{display:block; height: 20%;}
.ui.card.post_element .session_container .attendance .later{display:block; height: 20%;}
.ui.card.post_element .session_container .attendance .join_buttons{display: block; height: 20%;width:100%;}
.ui.card.post_element .session_container .attendance .join_buttons i{font-size:12px; padding: 5px;}
.ui.card.post_element .session_container .attendance .join_buttons button{display: inline-block; margin-top:10px;}