{% extends "base.html" %}

{% block title %}Home | DonKiDik{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/commentBox.css">
{% endblock %}

{% block before_body_end %}
    <script src="/static/js/app/post/service.js"></script>
    <script src="/static/js/app/post/directive.js"></script>
    <script src="/static/js/app/comment/directive.js"></script>
    <script src="/static/js/app/commentBox/directive.js"></script>
    <script src="/static/js/app/home/controller.js"></script>
    <script src="/static/js/app/home/service.js"></script>
{% endblock %}

{% block body %}
<div ng-controller="HomeController">
    <post ng-repeat="post in feed" data="post"></post>
</div>
{% endblock %}